.page-container {
    width: 80%;
    height: 90%;
    background-color: white;
    border: 2px solid #ccc;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

.image-container img {
    max-width: 160;
    height: 240;
    display: block;
    margin: 0 auto;
}

.text-container {
    text-align: center;
}

.text-container h1 {
    font-size: 2rem;
    font-weight: bold;
}

.text-container p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: #333;
}
